In [1]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [6]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [7]:
from mlxtend.frequent_patterns import apriori

frequent_itemset = apriori(df, min_support=0.6)
frequent_itemset

    support   itemsets
0       0.8        (3)
1       1.0        (5)
2       0.6        (6)
3       0.6        (8)
4       0.6       (10)
5       0.8     (3, 5)
6       0.6     (8, 3)
7       0.6     (5, 6)
8       0.6     (8, 5)
9       0.6    (10, 5)
10      0.6  (8, 3, 5)

In [8]:
frequent_itemset = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemset

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Kidney Beans, Eggs, Onion)

In [9]:
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                     itemsets  length
0       0.8                       (Eggs)       1
1       1.0               (Kidney Beans)       1
2       0.6                       (Milk)       1
3       0.6                      (Onion)       1
4       0.6                     (Yogurt)       1
5       0.8         (Kidney Beans, Eggs)       2
6       0.6                (Eggs, Onion)       2
7       0.6         (Kidney Beans, Milk)       2
8       0.6        (Kidney Beans, Onion)       2
9       0.6       (Kidney Beans, Yogurt)       2
10      0.6  (Kidney Beans, Eggs, Onion)       3

In [10]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.8) ]

   support              itemsets  length
5      0.8  (Kidney Beans, Eggs)       2

In [11]:

frequent_itemsets[ frequent_itemsets['itemsets'] == {'Onion', 'Eggs'} ]

   support       itemsets  length
6      0.6  (Eggs, Onion)       2

In [12]:

frequent_itemsets[ frequent_itemsets['itemsets'] == {'Eggs', 'Onion'} ]

   support       itemsets  length
6      0.6  (Eggs, Onion)       2

In [13]:
frequent_itemsets[ frequent_itemsets['itemsets'] == frozenset(('Eggs', 'Onion')) ]

   support       itemsets  length
6      0.6  (Eggs, Onion)       2

In [14]:
frequent_itemsets[ frequent_itemsets['itemsets'] == frozenset(('Onion', 'Eggs')) ]

   support       itemsets  length
6      0.6  (Eggs, Onion)       2

In [15]:
oht_ary = te.fit(dataset).transform(dataset, sparse=True)
sparse_df = pd.SparseDataFrame(te_ary, columns=te.columns_, default_fill_value=False)
sparse_df

C:\Users\ELCOT\Documents\New folder\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: SparseDataFrame is deprecated and will be removed in a future version.
Use a regular DataFrame whose columns are SparseArrays instead.

See http://pandas.pydata.org/pandas-docs/stable/user_guide/sparse.html#migrating for more.


C:\Users\ELCOT\Documents\New folder\lib\site-packages\pandas\core\frame.py:3456: FutureWarning: SparseSeries is deprecated and will be removed in a future version.
Use a Series with sparse values instead.

    >>> series = pd.Series(pd.SparseArray(...))

See http://pandas.pydata.org/pandas-docs/stable/user_guide/sparse.html#migrating for more.

  return klass(values, index=self.index, name=items, fastpath=True)

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [16]:
apriori(sparse_df, min_support=0.6, use_colnames=True)

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Kidney Beans, Eggs, Onion)

In [17]:
from mlxtend.frequent_patterns import association_rules
frequent_itemsets = apriori(df, min_support=0.07, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Apple),0.8,0.2,0.2,0.250000,1.250000,0.04,1.066667
1,(Apple),(Eggs),0.2,0.8,0.2,1.000000,1.250000,0.04,inf
2,(Kidney Beans),(Apple),1.0,0.2,0.2,0.200000,1.000000,0.00,1.000000
3,(Apple),(Kidney Beans),0.2,1.0,0.2,1.000000,1.000000,0.00,inf
4,(Milk),(Apple),0.6,0.2,0.2,0.333333,1.666667,0.08,1.200000

In [18]:
rules[ (rules['lift'] >= 5) &
      (rules['confidence'] >= 0.6) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
76,"(Eggs, Corn)",(Ice cream),0.2,0.2,0.2,1.0,5.0,0.16,inf
77,(Ice cream),"(Eggs, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
94,"(Onion, Corn)",(Ice cream),0.2,0.2,0.2,1.0,5.0,0.16,inf
95,(Ice cream),"(Onion, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
112,"(Milk, Corn)",(Unicorn),0.2,0.2,0.2,1.0,5.0,0.16,inf
113,(Unicorn),"(Milk, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
124,"(Yogurt, Corn)",(Unicorn),0.2,0.2,0.2,1.0,5.0,0.16,inf
125,(Unicorn),"(Yogurt, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
324,"(Kidney Beans, Eggs, Corn)",(Ice cream),0.2,0.2,0.2,1.0,5.0,0.16,inf
326,"(Kidney Beans, Ice cream)","(Eggs, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
331,"(Eggs, Corn)","(Kidney Beans, Ice cream)",0.2,0.2,0.2,1.0,5.0,0.16,inf
333,(Ice cream),"(Kidney Beans, Eggs, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
339,"(Eggs, Onion, Corn)",(Ice cream),0.2,0.2,0.2,1.0,5.0,0.16,inf
340,"(Ice cream, Eggs)","(Onion, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
341,"(Ice cream, Onion)","(Eggs, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
344,"(Eggs, Corn)","(Ice cream, Onion)",0.2,0.2,0.2,1.0,5.0,0.16,inf
345,"(Onion, Corn)","(Ice cream, Eggs)",0.2,0.2,0.2,1.0,5.0,0.16,inf
346,(Ice cream),"(Eggs, Onion, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
362,"(Kidney Beans, Onion, Corn)",(Ice cream),0.2,0.2,0.2,1.0,5.0,0.16,inf
364,"(Kidney Beans, Ice cream)","(Onion, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
369,"(Onion, Corn)","(Kidney Beans, Ice cream)",0.2,0.2,0.2,1.0,5.0,0.16,inf
371,(Ice cream),"(Kidney Beans, Onion, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
376,"(Kidney Beans, Milk, Corn)",(Unicorn),0.2,0.2,0.2,1.0,5.0,0.16,inf
378,"(Kidney Beans, Unicorn)","(Milk, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
383,"(Milk, Corn)","(Kidney Beans, Unicorn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
385,(Unicorn),"(Kidney Beans, Milk, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
404,"(Kidney Beans, Yogurt, Corn)",(Unicorn),0.2,0.2,0.2,1.0,5.0,0.16,inf
406,"(Kidney Beans, Unicorn)","(Yogurt, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
411,"(Yogurt, Corn)","(Kidney Beans, Unicorn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
413,(Unicorn),"(Kidney Beans, Yogurt, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
419,"(Yogurt, Milk, Corn)",(Unicorn),0.2,0.2,0.2,1.0,5.0,0.16,inf
420,"(Unicorn, Yogurt)","(Milk, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
421,"(Unicorn, Milk)","(Yogurt, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
424,"(Yogurt, Corn)","(Unicorn, Milk)",0.2,0.2,0.2,1.0,5.0,0.16,inf
425,"(Milk, Corn)","(Unicorn, Yogurt)",0.2,0.2,0.2,1.0,5.0,0.16,inf
426,(Unicorn),"(Yogurt, Milk, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
758,"(Kidney Beans, Eggs, Onion, Corn)",(Ice cream),0.2,0.2,0.2,1.0,5.0,0.16,inf
764,"(Kidney Beans, Onion, Corn)","(Ice cream, Eggs)",0.2,0.2,0.2,1.0,5.0,0.16,inf
765,"(Kidney Beans, Ice cream, Onion)","(Eggs, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
766,"(Kidney Beans, Eggs, Corn)","(Ice cream, Onion)",0.2,0.2,0.2,1.0,5.0,0.16,inf
767,"(Kidney Beans, Ice cream, Eggs)","(Onion, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
769,"(Eggs, Onion, Corn)","(Kidney Beans, Ice cream)",0.2,0.2,0.2,1.0,5.0,0.16,inf
776,"(Kidney Beans, Ice cream)","(Eggs, Onion, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
778,"(Onion, Corn)","(Kidney Beans, Ice cream, Eggs)",0.2,0.2,0.2,1.0,5.0,0.16,inf
779,"(Ice cream, Onion)","(Kidney Beans, Eggs, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
780,"(Eggs, Corn)","(Kidney Beans, Ice cream, Onion)",0.2,0.2,0.2,1.0,5.0,0.16,inf
781,"(Ice cream, Eggs)","(Kidney Beans, Onion, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
787,(Ice cream),"(Kidney Beans, Eggs, Onion, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
790,"(Kidney Beans, Yogurt, Milk, Corn)",(Unicorn),0.2,0.2,0.2,1.0,5.0,0.16,inf
794,"(Kidney Beans, Yogurt, Corn)","(Unicorn, Milk)",0.2,0.2,0.2,1.0,5.0,0.16,inf
795,"(Kidney Beans, Milk, Corn)","(Unicorn, Yogurt)",0.2,0.2,0.2,1.0,5.0,0.16,inf
796,"(Kidney Beans, Unicorn, Yogurt)","(Milk, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
797,"(Kidney Beans, Unicorn, Milk)","(Yogurt, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
801,"(Yogurt, Milk, Corn)","(Kidney Beans, Unicorn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
804,"(Kidney Beans, Unicorn)","(Yogurt, Milk, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
808,"(Yogurt, Corn)","(Kidney Beans, Unicorn, Milk)",0.2,0.2,0.2,1.0,5.0,0.16,inf
809,"(Milk, Corn)","(Kidney Beans, Unicorn, Yogurt)",0.2,0.2,0.2,1.0,5.0,0.16,inf
810,"(Unicorn, Yogurt)","(Kidney Beans, Milk, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
811,"(Unicorn, Milk)","(Kidney Beans, Yogurt, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf
815,(Unicorn),"(Kidney Beans, Yogurt, Milk, Corn)",0.2,0.2,0.2,1.0,5.0,0.16,inf